@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* global  */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* global  */

/* .container  */
.container {
  background-color: black;
  color: white;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.container .card {
  background-color: rgba(0, 0, 0, 0.678);
  background-image: url("./subway.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 15px;
  padding: 3rem;
  width: 40%;
  min-width: 300px;
}

.container .card #increment {
  border: none;
  border-radius: 10px;
  padding: 0.8rem 3rem;
  margin: 0.5rem 0px;
  background-color: #3838d4;
  color: white;
  width: 50%;
  min-width: 200px;
  cursor: pointer;
}

.container .card #save {
  width: 50%;
  min-width: 200px;
  border: none;
  border-radius: 10px;
  padding: 0.8rem 3rem;
  margin: 0.5rem 0px;
  background-color: #26d835;
  color: white;
  cursor: pointer;
}

/* .container  */
